<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PdfPageSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<userSettings>
		<PdfPageSaver.Properties.Settings>
			<setting name="PageNumbers" serializeAs="String">
				<value>1,3</value>
			</setting>
			<setting name="Suffix" serializeAs="String">
				<value>s</value>
			</setting>
			<setting name="SaveSettings" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Size" serializeAs="String">
				<value>578, 378</value>
			</setting>
			<setting name="Location" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="IsOverwrite" serializeAs="String">
				<value>False</value>
			</setting>
		</PdfPageSaver.Properties.Settings>
	</userSettings>
</configuration>
